<!--/.col add User-->
<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <button
        [routerLink]="['/users/listRole']"
        _ngcontent-c1=""
        class="btn btn-sm btn-primary pull-right"
      >
        <i _ngcontent-c1="" class="fa fa-dot-circle-o"></i> List
      </button>
      <strong>Add Role</strong>
    </div>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="form-group col-sm-3">
          <label for="roleName">Role Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="roleName"
            [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }"
            placeholder="Role - Name"
            required
          />
          <div *ngIf="submitted && f.roleName.errors" class="invalid-feedback">
            <div *ngIf="f.roleName.errors.required">Role Name is required</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit</button
        >&nbsp;&nbsp;
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Cancel</button
        >&nbsp;&nbsp;
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset</button
        >&nbsp;&nbsp;
      </div>
    </form>
  </div>
</div>
<!--/.col-->
