<div class="col-sm-12">
    <div class="card">
      <div class="card-header">
          <button [routerLink]=" ['/master/listProduct']" _ngcontent-c1="" class="btn btn-sm btn-primary pull-right" ><i _ngcontent-c1="" class="fa fa-dot-circle-o"></i> List</button>
      <strong>Update Product</strong>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
          <hr class="hr-text" data-content="Contact Information">
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" formControlName="productName" value="TONED MILK" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" placeholder="product-name" required>
              <div *ngIf="'submitted && f.productName.errors'" class="invalid-feedback">
                  <div *ngIf="'f.productName.errors.required'">Product Name is required</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label for="fatPer">Fat Per</label>
              <input type="number" class="form-control" formControlName="fatPer" value="3.1" [ngClass]="{ 'is-invalid': submitted && f.fatPer.errors }" placeholder="fat-per" required>
              <div *ngIf="'submitted && f.fatPer.errors'" class="invalid-feedback">
                  <div *ngIf="'f.fatPer.errors.required'">Fat Per is required</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label for="snfPer">Snf Per</label>
              <input type="number" class="form-control" formControlName="snfPer" value="8.5" [ngClass]="{ 'is-invalid': submitted && f.snfPer.errors }" placeholder="snf-per" required>
              <div *ngIf="'submitted && f.snfPer.errors'" class="invalid-feedback">
                  <div *ngIf="'f.snfPer.errors.required'">Snf Per is required</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
                <label for="m_or_p">M or P</label>
                <div class="form-control" style="border:none !important">
                  <div class="form-check form-check-inline mr-1" id="inline-radios">
                    <input class="form-check-input" type="radio" formControlName="m_or_p" value="0" [ngClass]="{ 'is-invalid': submitted && f.m_or_p.errors }"   id="inlineRadio1" value="m">
                    <label class="form-check-label" for="inlineRadio1">M</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" formControlName="m_or_p" [ngClass]="{ 'is-invalid': submitted && f.m_or_p.errors }"  id="inlineRadio2" value="p">
                    <label class="form-check-label" for="inlineRadio2">P</label>
                  </div>
                  <div *ngIf="'submitted && f.m_or_p.errors'" class="invalid-feedback">
                      <div *ngIf="'f.m_or_p.errors.required'">M or P is required</div>
                  </div>

                </div>
              </div>

          </div>
          <div class="row">
         
     
              <div class="form-group col-sm-3">
                <label for="productAlias">Product Alias</label>
                <input type="text" class="form-control" formControlName="productAlias" value="l" [ngClass]="{ 'is-invalid': submitted && f.productAlias.errors }" placeholder="product-alias" required>
                <div *ngIf="'submitted && f.productAlias.errors'" class="invalid-feedback">
                    <div *ngIf="'f.productAlias.errors.required'">Product Alias is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="defaultUnit">Default Unit</label>
                <input type="text" class="form-control" formControlName="defaultUnit" value="1.0295" [ngClass]="{ 'is-invalid': submitted && f.defaultUnit.errors }" placeholder="default-unit" required>
                <div *ngIf="'submitted && f.defaultUnit.errors'" class="invalid-feedback">
                    <div *ngIf="'f.defaultUnit.errors.required'">Default Unit is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="kgPerLtr">kg Per Ltr</label>
                <input type="number" class="form-control" formControlName="kgPerLtr" value="T M" [ngClass]="{ 'is-invalid': submitted && f.kgPerLtr.errors }" placeholder="kg-per-ltr" required>
                <div *ngIf="'submitted && f.kgPerLtr.errors'" class="invalid-feedback">
                    <div *ngIf="'f.kgPerLtr.errors.required'">kg Per Ltr is required</div>
                </div>
              </div>

              <div class="form-group col-sm-3">
                  <label for="prodPosition">Prod Position</label>
                  <input type="number" class="form-control" formControlName="prodPosition" value="1" [ngClass]="{ 'is-invalid': submitted && f.prodPosition.errors }" placeholder="prod-position" required>
                  <div *ngIf="'submitted && f.prodPosition.errors'" class="invalid-feedback">
                      <div *ngIf="'f.prodPosition.errors.required'">Prod Position is required</div>
                  </div>
                </div>

            </div>
            <div class="row">
        
                <div class="form-group col-sm-3">
                  <label for="reqForTrg">Req For Trg</label>
                  <input type="text" class="form-control" formControlName="reqForTrg" value="y" [ngClass]="{ 'is-invalid': submitted && f.reqForTrg.errors }" placeholder="req-for-trg" required>
                  <div *ngIf="'submitted && f.reqForTrg.errors'" class="invalid-feedback">
                      <div *ngIf="'f.reqForTrg.errors.required'">Req For Trg is required</div>
                  </div>
                </div>
              </div>

        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Update</button>
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Cancel</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  </div>
  <!--/.col-->

